{% extends 'index.html' %}
{% block titulo %} {{ titulo }} {% endblock %}
{% block contenido %}
<main class="container">
	<h2>Crear producto</h2>
	<p>Por favor llene los siguientes campos para el ingreso de los productos</p>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.codigo.id_for_label }}">{{ form.codigo.label }}</label>
			{{ form.codigo }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
			{{ form.nombre }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
			{{ form.tipo }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.descripcion.id_for_label }}">{{ form.descripcion.label }}</label>
			{{ form.descripcion }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.precio.id_for_label }}">{{ form.precio.label }}</label>
			{{ form.precio }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
			{{ form.imagen }}
		</div>
		<div class="form-group" style="width: 50%;">
			<label for="{{ form.disponible.id_for_label }}">{{ form.disponible.label }}</label>
			{{ form.disponible }}
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Crear" class="btn btn-primary" />
		</div>
	</form>
	<p>Para volver al menú principal presione <a href="{% url 'index' %}">aquí</a></p>
	<p><a href="{% url 'producto:listar_producto' %}">Productos existentes</a></p>
</main>
{% endblock %}
