{% extends 'index.html' %}

{% block titulo %} Lista de Pedidos {% endblock %}

{% block contenido %}
<div class="container">
    <h1>Lista de Pedidos</h1>
    {% if pedidos %}
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <th>Repartidor</th>
                    <th>Estado</th>
                    <th>Dirección Origen</th>
                    <th>Dirección Destino</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha_creacion }}</td>
                    <td>
                        {% if pedido.productos.exists %}
                        <ul>
                            {% for producto in pedido.productos.all %}
                            <li>{{ producto.nombre }} - ${{ producto.precio }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Sin productos</p>
                        {% endif %}
                    </td>
                    <td>${{ pedido.total }}</td>
                    <td>
                        <input type="text" name="repartidor" value="{{ pedido.repartidor }}" class="form-control">
                    </td>
                    <td>
                        <select name="estado" class="form-control">
                            <option value="pendiente" {% if pedido.estado == 'pendiente' %}selected{% endif %}>Pendiente</option>
                            <option value="asignado" {% if pedido.estado == 'asignado' %}selected{% endif %}>Asignado</option>
                            <option value="en_proceso" {% if pedido.estado == 'en_proceso' %}selected{% endif %}>En Proceso</option>
                            <option value="entregado" {% if pedido.estado == 'entregado' %}selected{% endif %}>Entregado</option>
                        </select>
                    </td>
                    <td>{{ pedido.direccion_origen|default:"No especificada" }}</td>
                    <td>{{ pedido.direccion_destino }}</td>
                    <td>
                        <button type="submit" name="guardar_{{ pedido.id }}"  class="btn btn-primary">Guardar</button>
                        <a href="{% url 'producto:eliminar_pedido' pedido.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% else %}
    <p>No hay pedidos realizados.</p>
    {% endif %}
</div>
{% endblock %}
